= form_for(@club, :html => {:class => "form-horizontal"}) do |f|
  - if @club.errors.any?
    #error_explanation
      %h2
        = pluralize(@club.errors.count, "error")
        prohibited this club from being saved:
      %ul
        - @club.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :club, "Bitte den Namen des Vereins eingeben", :class => "control-label"
    .controls
      = f.text_field :name
  .control-group
    .controls
      = f.submit "absenden", class: "btn btn-primary"