<p id="notice"><%= notice %></p>
<h1>Turniere des <%= @club.name %></h1>
<br>
<h3>Statistiken</h3>
<%= raw(print_stats @users.collect{|x| x.tournaments}.flatten) %>
<h3>Mitglieder</h3>
<br>
<ul>
<% @users.each do |user| %>
  <li><%= link_to "#{user.name}", user_tournaments_path(user) %></li>
<% end %>
</ul>
<% if current_user.id == @club.user_id %>
<%= render 'owner_area' %>
<% end %>

<%= link_to 'Zurueck', clubs_path %>