%p#notice= notice
%h1
  Turniere des #{@club.name}
%br/

%h3 Statistiken
= raw(print_stats @verified_users.collect{|x| x.tournaments}.flatten)
%br/

%h3 Mitglieder
%ul
  - @verified_users.each do |user|
    %li= link_to "#{user.name}", user_tournaments_path(user)

%br/
- if current_user.id == @club.user_id
  = render 'owner_area'

= link_to 'Zurueck', clubs_path
