= form_for @couple do |f|
  - if @couple.errors.any?
    #error_explanation
      %h2= "#{pluralize(@couple.errors.count, "error")} prohibited this couple from being saved:"
      %ul
        - @couple.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :man_id
    = f.number_field :man_id
  .field
    = f.label :woman_id
    = f.number_field :woman_id
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Save'
