%p#notice= notice

%p
  %b Man:
  = @couple.man_id
%p
  %b Woman:
  = @couple.woman_id
%p
  %b Active:
  = @couple.active

= link_to 'Edit', edit_couple_path(@couple)
\|
= link_to 'Back', couples_path
