%p#notice= notice

%p
  %b Couple:
  = @progress.couple_id
%p
  %b Kind:
  = @progress.kind
%p
  %b Start points:
  = @progress.start_points
%p
  %b Start placings:
  = @progress.start_placings
%p
  %b Start class:
  = @progress.start_class
%p
  %b Finished:
  = @progress.finished

= link_to 'Edit', edit_progress_path(@progress)
\|
= link_to 'Back', progresses_path
