#change_club_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Ändere deinen Verein
  .modal-body
    = ga_button_link_to('Verein hinzufügen', '#add_club_modal', {toggle: 'modal', dismiss: 'modal'}, 'Club', 'Add', 'btn btn-block')
    = ga_button_link_to('Verein verlassen', '#remove_club_modal', {toggle: 'modal', dismiss: 'modal'}, 'Club', 'Remove', 'btn btn-block')

  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"} Schließen

#remove_club_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Trete aus deinem Verein aus
  .modal-body
    %ul
    - own_clubs.each do |club|
      %li
        = link_to club.name, delete_couple_path(club_id: club.id, couple_id: current_user.activeCouple)

  .modal-footer
    %a.btn{:href => "#", "data-dismiss" => "modal"} Schließen

#add_club_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Trete in deinen Verein ein
  .modal-body
    %ul
      - clubs.reject{|club| club.isUnverifiedUser(current_user) }.each do |club|
        %li
          = link_to club.name, add_club_path(:club_id => club.id, :user_id => current_user.id, trainer: false)

  .modal-footer
    = ga_button_link_to('Neuen Verein erstellen', new_club_path, {}, 'Club', 'Added', 'btn btn-primary')
    = ga_button_link_to('Werde Trainer', '#add_club_as_trainer_modal', {toggle: 'modal', dismiss: 'modal'}, 'Club', 'BeTrainer', 'btn btn-primary')
    %a.btn{:href => "#", "data-dismiss" => "modal"} Schließen

#add_club_as_trainer_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Ich bin Trainer dieses Vereins
  .modal-body
    %ul
      - clubs.reject{|club| club.isUnverifiedUser(current_user) }.each do |club|
        %li
          = link_to club.name, add_club_path(:club_id => club.id, :user_id => current_user.id, :trainer => true)

  .modal-footer
    = ga_button_link_to('Neuen Verein erstellen', new_club_path, {}, 'Club', 'Added', 'btn btn-primary')
    = ga_button_link_to('Ich bin kein Trainer', '#add_club_modal', {toggle: 'modal', dismiss: 'modal'}, 'Club', 'DontBeTrainer', 'btn btn-primary')
    %a.btn{:href => "#", "data-dismiss" => "modal"} Schließen