<h2>Passwort vergessen?</h2>
<h3 style="color: red;"><strong><u>Dieses Feature steht zur Zeit noch nicht zur Verfügung, bitte melde dich bei mir unter daniel.maximilian@gmx.net und ich versuche zu helfen.</u></strong></h3>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
