= form_for(@tournament) do |f|
  - if @tournament.errors.any?
    #error_explanation
      %h2
        = pluralize(@tournament.errors.count, "error")
        prohibited this tournament from being saved:
      %ul
        - @tournament.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :number
    = f.number_field :number
  .field
    = f.label :place
    = f.number_field :place
  .field
    = f.label :participants
    = f.number_field :participants
  = f.hidden_field :user_id, :value => current_user.id
  .actions
    = f.submit
