= form_for(Tournament.new) do |f|
  .input-prepend
    .add-on
      Turniernummer
    = f.number_field :number
  = f.hidden_field :user_id, :value => current_user.id
  .actions
    = f.submit "Turnier erstellen", class: "btn btn-primary"

= render "tournaments/has_clubs_popover"
