= form_for(Tournament.new) do |f|
  .input-prepend
    .add-on
      Turniernummer
    = f.number_field :number

  .help-block
    Bitte niedrigsten Platz bei geteilten Plätzen nehmen

  .input-prepend
    .add-on
      Platz
    = f.number_field :place

  .input-prepend
    .add-on
      Teilnehmerzahl
    = f.number_field :participants

  = f.hidden_field :user_id, :value => current_user.id

  .actions
    = f.submit "erstellen", class: "btn btn-primary"

= render "tournaments/has_clubs_popover"