<tr>
  <td><%= tournament.number %></td>
  <td><%= tournament.user_id %></td>
  <td><%= tournament.place %> von <%= tournament.participants %></td>
  <td><%= raw tournament.address.split(", ").join("<br />") %></td>
  <td><%= tournament.date.to_datetime.strftime("%d.%m.%Y") %></td>
  <td><%= tournament.date.to_datetime.strftime("%H:%M") %></td>
  <td><%= tournament.kind %></td>
  <% if current_user == @user %>
    <td><%= link_to 'Show', tournament %></td>
    <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
    <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>