%tr
  %td
    = tournament.users.compact.collect{|x| x.name}.join(" / ")
    %br/
  %td= tournament_date(tournament)
  %td= tournament_time(tournament)
  %td= tournament.kind
  - unless pdf && tournament.place.nil?
    %td
      = tournament.place || '?'
      von #{tournament.participants || '??'}
  %td= tournament_adress(tournament)
  %td= tournament.number

  - unless pdf
    - classes = 'icons-not_enrolled' unless tournament.enrolled? && !tournament.behind_time?
    - classes = 'icons-missing_information' if tournament.behind_time?
    - classes ||= 'icons-ok'
    %td#status
      %div{:class => classes}
    - enrollable ||= 'false'
    - if @organisingTournaments.include?(tournament)
      - if enrollable && !tournament.enrolled?
        %td= link_to 'Als gemeldet markieren', just_enrolled_path(tournament.id), class: "btn"
      - else
        %td
    - if tournament.is_from_user(current_user)
      %td= link_to 'Ergebnis eintragen', edit_tournament_path(tournament), class: "btn"
      %td= link_to 'Löschen', tournament, method: :delete, data: { confirm: 'Bist du dir sicher?' }, class: "btn btn-danger"
