%h1 Neues Turnier hinzuf端gen
- if params['time'].nil?
  .new_tournament_controll
    = link_to 'zuk端nftiges Turnier', new_tournament_path(time: "future"), class: 'btn btn-primary', id: 'future'
    = link_to 'vergangenes Turnier', new_tournament_path(time: "past"), class: 'btn btn-primary', id: 'past'
  = link_to 'Zur端ck', root_path

- else
  = render 'past_form' if params['time'] == "past"
  = render 'future_form' if params['time'] == "future"
  = link_to 'Zur端ck', new_tournament_path

