.btn-toolbar
  - unless Club.ownedBy(current_user.id).empty?
    .btn-group
      .btn
        = link_to 'Verwaltung', '#admin'

  .btn-group
    .btn
      - if has_couple
        = ga_button_link_to('neues Turnier', '#add_tournament_modal', {toggle: 'modal'}, 'Tournaments', 'Add')
      - else
        %a.disabled{onClick: "alert('Bitte füge erst deinen Tanzpartner hinzu und lade dann die Seite neu!');"}
          neues Turnier
  .btn-group
    .btn
      = ga_button_link_to('Punkte | Platzierungen | Klasse ändern', '#change_progress_modal', {toggle: 'modal'}, 'Progress', 'Change')

  .btn-group
    .btn
      = ga_button_link_to('Tanzpartner wechseln', '#change_partner_modal', {toggle: 'modal'}, 'Couple', 'Change')

  .btn-group
    .btn
      = ga_button_link_to('Turniere bearbeiten | anschauen', '#tournaments', {}, 'Tournaments', 'Show/Edit')


.btn-toolbar
  .btn-group
    .btn
      = ga_button_link_to('Planung drucken', '#print_planning_modal', {toggle: 'modal'}, 'Couple', 'Print')