= render 'shared/modals/change_club_modal', own_clubs: own_clubs, clubs: clubs
= render 'shared/modals/pending_club_modal', clubs: clubs
= render "shared/modals/change_progress_modal"
= render "shared/modals/change_partner_modal"
= render "shared/modals/print_planning_modal", couple: couple