%h3 Dashboard
= render "action_required_alert"
= render "shared/user_controlls"

.row-fluid
  .span6
    = render "progress_panel"
  .span6
    = render "statistics"

= render "shared/user_modals"
= render "shared/modals/add_tournament_modal"