.row-fluid
  %ul.nav.nav-tabs.span12.tabwiseNavigation
    - @user_clubs.each do |club|
      %li{:id => "club-#{club.id}"}
        = link_to club.name, admin_dashboard_path(club_id: club.id)

  .span12
    %h2="Dashboard von #{@active_club.name}"
    .row-fluid
      .btn-toolbar
        .btn-group
          .btn
            = link_to 'Turnierübersicht drucken', '#print_tournaments_modal', role: 'button', data: {toggle: 'modal'}
        .btn-group
          .btn
            = link_to 'Jemand anders meldet', '#change_owner_modal', role: 'button', data: {toggle: 'modal'}
        .btn-group
          .btn
            = link_to 'Verein umbenennen', edit_club_path(@active_club)
        .btn-group
          .btn
            = link_to 'Verein löschen', @active_club, :method => :delete, :confirm => "Bist du dir sicher?"
        .btn-group
          .btn
            = link_to 'Zurück', root_path

    .row-fluid
      .span6
        %h4 Aktuelle Anfragen
        %hr
        %ul
          - @unverified_couples.each do |couple|
            %li
              = couple.to_s
              = link_to "", verify_couple_path(club_id: @active_club, couple_id: couple.id), :class => "icon-ok"
              = link_to "",delete_couple_path(club_id: @active_club, couple_id: couple.id), :class => "icon-remove"

      .span6
        %h4 ungemeldete Turniere
        %hr
        %table.tournament-list.table.table-striped
          %tr
            %th Paar
            %th Datum
            %th Zeit
            %th Art
            %th Platz
            %th Adresse
            %th Turniernr.
            %th
            %th
            - if current_user.tournaments.collect{|x| @unenrolled_tournaments.include? x }.include? true
              %th
              %th
          = render @unenrolled_tournaments, enrollable: true

    .row-fluid
      %h4 Deine Paare
      %img{:src => "http://placehold.it/350x550&text=Auflistung der Paare"}
      %img{:src => "http://placehold.it/650x750&text=Stats des aktiven Paars"}

%input{:id => "activeTab", :type => "hidden", :value => @active_club.id}

:javascript
  $(function() {
    $(".tabwiseNavigation li").removeClass("active");
    $("#club-" + $("#activeTab").val()).addClass("active");
  });

= render 'shared/admin_modals'