.row-fluid
  %ul.nav.nav-tabs.span12.tabwiseNavigation
    - @user_clubs.each do |club|
      %li{:id => "club-#{club.id}"}
        = link_to club.name, admin_dashboard_path(club_id: club.id)

  .span12
    %h2="Dashboard von #{@active_club.name}"
    .row-fluid
      .btn-toolbar
        .btn-group
          .btn
            = link_to 'Turnierübersicht drucken', '#print_tournaments_modal', role: 'button', data: {toggle: 'modal'}, onClick: "_gaq.push(['_trackEvent', 'Admin', 'Print']);"
        .btn-group
          .btn
            = link_to 'Jemand anders meldet', '#change_owner_modal', role: 'button', data: {toggle: 'modal'}
        .btn-group
          .btn
            = link_to 'Verein umbenennen', edit_club_path(@active_club)
        .btn-group
          .btn
            = link_to 'Verein löschen', @active_club, :method => :delete, :confirm => "Bist du dir sicher?"
        .btn-group
          .btn
            = link_to 'Zurück', root_path

    .row-fluid
      .span4
        %h4 Aktuelle Anfragen
        %hr
        %ul
          - @unverified_couples.each do |couple|
            %li
              = couple.to_s
              = link_to "", verify_couple_path(club_id: @active_club, couple_id: couple.id), :class => "icon-ok"
              = link_to "",delete_couple_path(club_id: @active_club, couple_id: couple.id), :class => "icon-remove"

      .span8
        %h4 ungemeldete Turniere
        %hr
        %table.tournament-list.table.table-striped
          %tr
            %th Paar
            %th Datum
            %th Zeit
            %th Art
            %th Platz
            %th Turniernr.
            %th
            %th
            %th
          = render @unenrolled_tournaments, admin: true, withoutUserControl:true

    #master-detail.row-fluid
      %h4 Deine Paare
      .span3.btn-group.btn-group-vertical
        - @verified_couples.each do |couple|
          %a.btn.pull-left{data: {master: couple.id}}
            = raw(couple.to_s_two_lines)

      .span8
        - @verified_couples.each do |couple|
          .hidden{id: "couple-stats-#{couple.id}", data: {detail: couple.id}}
            #accordion2.accordion
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
                    Statistiken
                #collapseOne.accordion-body.collapse.in
                  .accordion-inner
                    .row-fluid
                      .span12
                        = render "progress_panel", :active_couple => couple
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
                    Turniere
                #collapseTwo.accordion-body.collapse
                  .accordion-inner
                    %table.tournament-list.table.table-striped
                      %tr
                        %th Datum
                        %th Zeit
                        %th Art
                        %th Platz
                        %th Turniernr.
                        %th Status
                        %th
                        %th
                      = render couple.tournaments, admin: true, withoutCouple: true, withoutUserControl:true

%input{:id => "activeTab", :type => "hidden", :value => @active_club.id}

:javascript
  $(function() {
    //FIXME: refactor as jQuery extension
    $(".tabwiseNavigation li").removeClass("active");
    $("#club-" + $("#activeTab").val()).addClass("active");

    var TA = window.TA || (window.TA = {});
    new TA.MasterDetail("#master-detail");
  });

= render 'shared/admin_modals', verified_users: @verified_users, active_club: @active_club