%h1 Impressum
%p
  Angaben gemäss § 5 TMG:
  %br/
  %br/
Daniel Schmidt
%br/
Elsa-Brandström Strasse 7
%br/
24223 Schwentinental
%br/
%h2 Kontakt:
%table
  %tr
  %tr
    %td
      %p E-Mail:
    %td
      %p daniel.maximilian@gmx.net
%p  
%p
  Quelle:
  %i
    Mit dem von
    %a{:href => "http://www.e-recht24.de", :rel => "nofollow"} eRecht24
    bereitgestellten Impressum-Generator erzeugt.
%h2 Haftungsausschluss:
%p
  %strong Haftung fuer Inhalte
%p Die Inhalte unserer Seiten wurden mit groesster Sorgfalt erstellt. Fuer die Richtigkeit, Vollständigkeit und Aktualität der Inhalte koennen wir jedoch keine Gewähr uebernehmen. Als Diensteanbieter sind wir gemäss § 7 Abs.1 TMG fuer eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, uebermittelte oder gespeicherte fremde Informationen zu ueberwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberuehrt. Eine diesbezuegliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung moeglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
%p
  %strong Haftung fuer Links
%p Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb koennen wir fuer diese fremden Inhalte auch keine Gewähr uebernehmen. Fuer die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf moegliche Rechtsverstoesse ueberprueft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
%p
  %strong Urheberrecht
%p Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung ausserhalb der Grenzen des Urheberrechtes beduerfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur fuer den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
%p
  %strong Datenschutz
%p Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten moeglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit moeglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrueckliche Zustimmung nicht an Dritte weitergegeben.
%p Wir weisen darauf hin, dass die Datenuebertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitsluecken aufweisen kann. Ein lueckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht moeglich.
%p Der Nutzung von im Rahmen der Impressumspflicht veroeffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdruecklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdruecklich widersprochen. Die Betreiber der Seiten behalten sich ausdruecklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
%p  
%p
  %strong Datenschutzerklärung fuer die Nutzung von Facebook-Plugins (Like-Button)
%p
  Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, 1601 South California Avenue, Palo Alto, CA 94304, USA integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem "Like-Button" ("Gefällt mir") auf unserer Seite. Eine Übersicht ueber die Facebook-Plugins finden Sie hier:
  = succeed "." do
    %a{:href => "http://developers.facebook.com/docs/plugins/", :target => "_blank"} http://developers.facebook.com/docs/plugins/
  %br/
  Wenn Sie unsere Seiten besuchen, wird ueber das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn Sie den Facebook "Like-Button" anklicken während Sie in Ihrem Facebook-Account eingeloggt sind, koennen Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der uebermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von facebook unter
  %a{:href => "http://de-de.facebook.com/policy.php", :target => "_blank"} http://de-de.facebook.com/policy.php
%p Wenn Sie nicht wuenschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
%p  
%p
  %strong Datenschutzerklärung fuer die Nutzung von Google Analytics
%p Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermoeglichen. Die durch den Cookie erzeugten Informationen ueber Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA uebertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens ueber den Europäischen Wirtschaftsraum zuvor gekuerzt.
%p Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA uebertragen und dort gekuerzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports ueber die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenueber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser uebermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengefuehrt.
%p
  Sie koennen die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen koennen. Sie koennen darueber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfuegbare Browser-Plugin herunterladen und installieren:
  = succeed "." do
    %a{:href => "http://tools.google.com/dlpage/gaoptout?hl=de"} http://tools.google.com/dlpage/gaoptout?hl=de
  %p  
  %p
    %strong Datenschutzerklärung fuer die Nutzung von Google Adsense
  %p Diese Website benutzt Google AdSense, einen Dienst zum Einbinden von Werbeanzeigen der Google Inc. ("Google"). Google AdSense verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website ermoeglicht. Google AdSense verwendet auch so genannte Web Beacons (unsichtbare Grafiken). Durch diese Web Beacons koennen Informationen wie der Besucherverkehr auf diesen Seiten ausgewertet werden.
  %p Die durch Cookies und Web Beacons erzeugten Informationen ueber die Benutzung dieser Website (einschliesslich Ihrer IP-Adresse) und Auslieferung von Werbeformaten werden an einen Server von Google in den USA uebertragen und dort gespeichert. Diese Informationen koennen von Google an Vertragspartner von Google weiter gegeben werden. Google wird Ihre IP-Adresse jedoch nicht mit anderen von Ihnen gespeicherten Daten zusammenfuehren.
  %p Sie koennen die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen koennen. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der ueber Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
  %p  
  %p
    %strong Datenschutzerklärung fuer die Nutzung von Google +1
  %p
    %i Erfassung und Weitergabe von Informationen:
    %br/
    Mithilfe der Google +1-Schaltfläche koennen Sie Informationen weltweit veroeffentlichen. ueber die Google +1-Schaltfläche erhalten Sie und andere Nutzer personalisierte Inhalte von Google und unseren Partnern. Google speichert sowohl die Information, dass Sie fuer einen Inhalt +1 gegeben haben, als auch Informationen ueber die Seite, die Sie beim Klicken auf +1 angesehen haben. Ihre +1 koennen als Hinweise zusammen mit Ihrem Profilnamen und Ihrem Foto in Google-Diensten, wie etwa in Suchergebnissen oder in Ihrem Google-Profil, oder an anderen Stellen auf Websites und Anzeigen im Internet eingeblendet werden.
    %br/
    Google zeichnet Informationen ueber Ihre +1-Aktivitäten auf, um die Google-Dienste fuer Sie und andere zu verbessern. Um die Google +1-Schaltfläche verwenden zu koennen, benoetigen Sie ein weltweit sichtbares, oeffentliches Google-Profil, das zumindest den fuer das Profil gewählten Namen enthalten muss. Dieser Name wird in allen Google-Diensten verwendet. In manchen Fällen kann dieser Name auch einen anderen Namen ersetzen, den Sie beim Teilen von Inhalten ueber Ihr Google-Konto verwendet haben. Die Identität Ihres Google-Profils kann Nutzern angezeigt werden, die Ihre E-Mail-Adresse kennen oder ueber andere identifizierende Informationen von Ihnen verfuegen.
    %br/
    %br/
    %i Verwendung der erfassten Informationen:
    %br/
    Neben den oben erläuterten Verwendungszwecken werden die von Ihnen bereitgestellten Informationen gemäss den geltenden Google-Datenschutzbestimmungen genutzt. Google veroeffentlicht moeglicherweise zusammengefasste Statistiken ueber die +1-Aktivitäten der Nutzer bzw. gibt diese an Nutzer und Partner weiter, wie etwa Publisher, Inserenten oder verbundene Websites.
  %p  
  %p
    %strong Datenschutzerklärung fuer die Nutzung von Twitter
  %p Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch die Twitter Inc., Twitter, Inc. 1355 Market St, Suite 900, San Francisco, CA 94103, USA. Durch das Benutzen von Twitter und der Funktion "Re-Tweet" werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknuepft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter uebertragen.
  %p
    Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der uebermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter
    = succeed "." do
      %a{:href => "http://twitter.com/privacy", :target => "_blank"} http://twitter.com/privacy
  %p
    Ihre Datenschutzeinstellungen bei Twitter koennen Sie in den Konto-Einstellungen unter
    %a{:href => "http://twitter.com/account/settings", :target => "_blank"} http://twitter.com/account/settings
    ändern.
  %p  
  %p
    %i
      Quellen:
      = succeed "," do
        %a{:href => "http://www.e-recht24.de/muster-disclaimer.htm", :target => "_blank"} eRecht24 Disclaimer
      = succeed "," do
        %a{:href => "http://www.e-recht24.de/artikel/datenschutz/6590-facebook-like-button-datenschutz-disclaimer.html", :target => "_blank"} Facebook Disclaimer
      = succeed "," do
        %a{:href => "http://www.google.com/intl/de/analytics/privacyoverview.html", :target => "_blank"} Google Analytics Datenschutzerklärung
      = succeed "," do
        %a{:href => "http://www.e-recht24.de/artikel/datenschutz/6635-datenschutz-rechtliche-risiken-bei-der-nutzung-von-google-analytics-und-googleadsense.html", :target => "_blank"} eRecht24 Datenschutzerklärung Google Adsense
      = succeed "," do
        %a{:href => "http://www.google.com/intl/de/+/policy/+1button.html", :target => "_blank"} Google +1 Bedingungen
      %a{:href => "http://twitter.com/privacy", :target => "_blank"} Twitter Datenschutzerklärung
