%h2
  = "Hallo #{@owner.name},"
%br

Es gibt folgende Neuigkeiten zu deinem Verein:

%table
  %tr
    %td{style: "width: 20%"}
      %h3 Zu meldene Turniere
    %td
      %ul
        - @unenrolledTournaments.sort.reverse.each do |tournament|
          %li
            = "#{tournament.number} am #{tournament.date.strftime('%d.%m.%Y')} (#{tournament.couple.to_s})"

  %tr
    %td{style: "width: 20%"}
      %h3 Punkte diese Woche
    %td
      = @results.points

  %tr
    %td{style: "width: 20%"}
      %h3 Platzierungen diese Woche
    %td
      = @results.placings
