= form_for(current_user.activeCouple.latin, remote: true) do |f|
  .help-block
    Die Punkte und Platzierungen, die du hier angibst werden auf deine bisherigen Turnierergebnisse addiert.

  .row-fluid
    .span6

      .input-prepend
        .add-on
          Punkte
        = f.number_field :start_points, :class => "span6"

      .input-prepend
        .add-on
          Platzierungen
        = f.number_field :start_placings, :class => "span4"
    .span4
      = link_to 'Aufgestiegen!', couple_level_up_path(kind: 'latin'), :class => "btn btn-primary", data: {dismiss: 'modal'}, remote: true
      = link_to 'Nochmal!', couple_reset_path(kind: 'latin'), :class => "btn btn-primary", data: {dismiss: 'modal'}, remote: true