<!DOCTYPE html>
<html>
<head>
  <title>TurnierList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
      <% if user_signed_in? %>
        <li>Logged in as <strong><%= current_user.email %></strong>.</li>
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
      </ul>
    </nav>
    <div class="notices">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </header>

<%= yield %>

</body>
</html>
