!!!
/[if IE 7] <html lang="en" class="ie7">
/[if IE 8] <html lang="en" class="ie8">
/[if IE 9] <html lang="en" class="ie9">
/ [if !IE]><!
%html.full-height{:lang => "en"}
  / <![endif]
  %head
    %title TurnierApp | Organisiere deine Turniere
    %meta{:content => "Turnier App hilft Turniertänzern und Vereinen dabei, den Überblick über bereits getanzte und zuküntige Turniere zu behalten", :name => "description"}
    %meta{:content => "Tanzen, Turniertanzen, Sport, Turniersport, Latein, Standard, Turniere, organisieren, TurnierApp, turnierapp, turnier, turnierApp, TurnierApp", :name => "keywords"}
    %meta{:content => "OWkrv2ZCAJCSiy4xY_tKf9wT-3BJpij36YAswTSVTHI", :name => "google-site-verification"}

    = favicon_link_tag asset_path('favicon.ico')
    %link{:href => "#{asset_path('apple-touch-icon.png')}", :rel => "apple-touch-icon"}

    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag :modernizr
    = csrf_meta_tags

  %body
    = render 'shared/navigation'

    .content.full-height
      .row-fluid.full-height
        #page-container
          = yield

    .assets
      = javascript_include_tag "application"
      = yield :assets
      = render "shared/notification"

      :javascript
        $(function() {
          window.DS.scrolltotop.init("#{asset_path('up.png')}");
        });

      - if user_signed_in?
        = render "shared/user_modals", own_clubs: @own_clubs, clubs: @clubs
        = render "shared/modals/add_tournament_modal"

      - if Rails.env.production?
        :javascript
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', "#{ENV['GA_ACCOUNT']}"]);
          _gaq.push(['_setDomainName', "#{ENV['GA_DOMAIN_NAME']}"]);
          _gaq.push(['_setSiteSpeedSampleRate', 100]);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      - else
        :javascript
          var _gaq = _gaq || [];
